<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="./../../assets/img/logo.png" alt="SmartAdmin"> </span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

    <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
    <!--<div class="ajax-dropdown">-->

      <!--&lt;!&ndash; the ID links are fetched via AJAX to the ajax container "ajax-notifications" &ndash;&gt;-->
      <!--<div class="btn-group btn-group-justified" data-toggle="buttons">-->
        <!--<label class="btn btn-default">-->
          <!--<input type="radio" name="activity" id="./../../assets/ajax/error404.html">-->
          <!--Msgs (14) </label>-->
        <!--<label class="btn btn-default">-->
          <!--<input type="radio" name="activity" id="./../../assets/ajax/error500.html">-->
          <!--notify (3) </label>-->
        <!--<label class="btn btn-default">-->
          <!--<input type="radio" name="activity" id="./../../assets/ajax/gallery.html">-->
          <!--Tasks (4) </label>-->
      <!--</div>-->

      <!--&lt;!&ndash; notification content &ndash;&gt;-->
      <!--<div class="ajax-notifications custom-scroll">-->

        <!--<div class="alert alert-transparent">-->
          <!--<h4>Click a button to show messages here</h4>-->
          <!--This blank page message helps protect your privacy, or you can show the first message here automatically.-->
        <!--</div>-->

        <!--<i class="fa fa-lock fa-4x fa-border"></i>-->

      <!--</div>-->
      <!--&lt;!&ndash; end notification content &ndash;&gt;-->

      <!--&lt;!&ndash; footer: refresh area &ndash;&gt;-->
      <!--<span> Last updated on: 12/12/2013 9:43AM-->
<!--<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">-->
<!--<i class="fa fa-refresh"></i>-->
<!--</button> </span>-->
      <!--&lt;!&ndash; end footer &ndash;&gt;-->

    <!--</div>-->
    <!-- END AJAX-DROPDOWN -->
  </div>

  <!-- #PROJECTS: projects dropdown -->
  <!--<div class="project-context hidden-xs">-->

    <!--<span class="label">Projects:</span>-->
    <!--<span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>-->

    <!--&lt;!&ndash; Suggestion: populate this list with fetch and push technique &ndash;&gt;-->
    <!--<ul class="dropdown-menu">-->
      <!--<li>-->
        <!--<a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="javascript:void(0);">Notes on pipeline upgradee</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="javascript:void(0);">Assesment Report for merchant account</a>-->
      <!--</li>-->
      <!--<li class="divider"></li>-->
      <!--<li>-->
        <!--<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash; end dropdown-menu&ndash;&gt;-->

  <!--</div>-->
  <!-- end projects dropdown -->

  <!-- #TOGGLE LAYOUT BUTTONS -->
  <!-- pulled right: nav area -->
  <div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
      <span> <a data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
      <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
          <img src="./../../assets/img/avatars/sunny.png" class="online" />
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#./../../assets/ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
          </li>
          <li class="divider"></li>
          <!--<li>-->
            <!--<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>-->
          <!--</li>-->
        </ul>
      </li>
    </ul>

    <!-- logout button -->
    <!--<div id="logout" class="btn-header transparent pull-right">-->
      <!--<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>-->
    <!--</div>-->
    <!-- end logout button -->

    <!-- search mobile button (this is hidden till mobile view port) -->
    <div id="search-mobile" class="btn-header transparent pull-right">
      <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>
    <!-- end search mobile button -->

    <!-- #SEARCH -->
    <!-- input: search field -->
    <!--<form action="#./../../assets/ajax/search.html" class="header-search pull-right">-->
    <!--<input id="search-fld" type="text" name="param" placeholder="Find reports and more">-->
    <!--<button type="submit">-->
    <!--<i class="fa fa-search"></i>-->
    <!--</button>-->
    <!--<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
    <!--</form>-->
    <!-- end input: search field -->

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-right">
      <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->

  </div>
  <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
<span> <!-- User image size is adjusted inside CSS, it should stay as is -->

<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
<img src="./../../assets/img/avatars/sunny.png" alt="me" class="online" />
<span>
<!--{{globalService.getLoggedInUser()}}-->
</span>
<i class="fa fa-angle-down"></i>
</a>

</span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive

  To make this navigation dynamic please make sure to link the node
  (the reference to the nav > ul) after page load. Or the navigation
  will not initialize.
  -->
  <div class="just-padding">

    <div class="list-group list-group-root">
      <a routerLink="/dashboard" routerLinkActive="active" class="list-group list-group-item"  >
        <i class="fa fa-user"></i><span class="menu-item-parent">&nbsp;&nbsp;Dashboard</span>
      </a>
    </div>

    <div class="list-group list-group-root">
      <a routerLink="/category" routerLinkActive="active" class="list-group list-group-item"  >
        <i class="fa fa-user"></i><span class="menu-item-parent">&nbsp;&nbsp;Category</span>
      </a>
    </div>

    <div class="list-group list-group-root">
      <a routerLink="/book" routerLinkActive="active" class="list-group list-group-item"  >
        <i class="fa fa-user"></i><span class="menu-item-parent">&nbsp;&nbsp;Books</span>
      </a>
    </div>

  </div>
  <!--<a href="#" class="btn btn-primary nav-demo-btn"><i class="fa fa-info-circle"></i> Wizer Assessment</a>-->



  <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->

<!-- #MAIN PANEL -->
<div id="main" role="main">

  <!-- RIBBON -->
  <div id="ribbon">

<span class="ribbon-button-alignment">
<!--<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>-->
</span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <!-- This is auto generated -->
    </ol>
    <!-- end breadcrumb -->


  </div>
  <!-- END RIBBON -->

  <!-- #MAIN CONTENT -->
  <div id="content">

    <div class="panel panel-default panelTitle panel-title">{{globalService.getpageTitle()}}</div>

    <router-outlet></router-outlet>

  </div>

  <!-- END #MAIN CONTENT -->

</div>
<!-- END #MAIN PANEL -->

<!-- #PAGE FOOTER -->
<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="txt-color-white">Wizer Test <span class="hidden-xs"> - Web Application </span> © 2017-2019</span>
    </div>

    <div class="col-xs-6 col-sm-6 text-right hidden-xs">
      <div class="txt-color-white inline-block">
        <!--<i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>-->
        <div class="btn-group dropup">
          <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
            <i class="fa fa-link"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right text-left">
            <li>
              <div class="padding-5">
                <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                <div class="progress progress-micro no-margin">
                  <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="padding-5">
                <p class="txt-color-darken font-sm no-margin">Server Load</p>
                <div class="progress progress-micro no-margin">
                  <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li >
              <div class="padding-5">
                <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                <div class="progress progress-micro no-margin">
                  <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="padding-5">
                <button class="btn btn-block btn-default">refresh</button>
              </div>
            </li>
          </ul>
        </div>
        <!-- end btn-group-->
      </div>
      <!-- end div-->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- END FOOTER -->

<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive, you can add as many as you like -->
<div id="shortcut">
  <ul>
    <li>
      <a href="#./../../assets/ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
    </li>
    <li>
      <a href="#./../../assets/ajax/calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
    </li>
    <li>
      <a href="#./../../assets/ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
    </li>
    <li>
      <a href="#./../../assets/ajax/invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
    </li>
    <li>
      <a href="#./../../assets/ajax/gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
    </li>
    <li>
      <a href="#./../../assets/ajax/profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
    </li>
  </ul>
</div>
<!-- END SHORTCUT AREA -->

<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
<script data-pace-options='{ "restartOnRequestAfter": true }' src="./../../assets/js/plugin/pace/pace.min.js"></script>-->
